body {
  margin: 0
}

.main {
  display: flex;
  width: auto;
  margin: auto;
  font-family: sans-serif;
}

.messages {
  display: flex;
  flex-direction: column;
  margin:auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin:auto;
}

.title_bar {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  background-color: #CCFFEE;
}

.signup {
  display: flex;
  flex-direction:column;
  width: 200 px;
  margin: auto;
  justify-content: center;
  align-items:center;
}

.signup_buttons {
  display: flex;
  flex-direction:row;
  width: 200 px;
  margin:auto;
  justify-content:space-around;
  align-items:center;
}

/* .posts {
  display: none;
}

.compose {
  display: none;
} */

h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

.login_form {
  width: 400px;
  border: 2px solid #AADDCC;
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
  padding: 20px 40px 20px 40px;
}

.post_form {
  width: 300px;
  border: 2px solid #AADDCC;
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: auto;
  padding: auto;
}


.login_form label {
  grid-column: 1 / 2;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.login_form input {
  grid-column: 2 / 4;
  font-size: 24px;
  border: 2px solid #AADDCC;
  border-radius: 4px;
}

.login_form button {
  grid-column: 2;
}

#postbody {
font-size: 22 px;
}

#postauthor {
font-size: 10 px;
font-style: italic;
}



.post_form label {
  grid-column: 1 / 2;
  margin-top: auto;
  margin-bottom: auto;
}

.post_form input {
  grid-column: 1 / 4;
  font-size: 24px;
  border: 2px solid #AADDCC;
  border-radius: 4px;
}

.post_form textarea {
  height: 80px;
  grid-column: 1 / 4;
  border: 2px solid #AADDCC;
  border-radius: 4px;
}

.post_form button {
  grid-column: 1;
}

button.form_button {
  width: 100 px;
  font-size: 18px;
  border: 2px solid #AADDCC;
  border-radius: 4px;
}

.posts button {
  width: 100 px;
  font-size: 12px;
  border: 2px solid #AADDCC;
  border-radius: 4px;
}
